<!-- Help Section -->
<!-- *ngFor notes:
---- <li> is the host element
---- 'heroes' is the list from the 'HeroesComponent' class.
---- 'hero' holds the current hero object for each iteration through the list. -->

<h2>My Heroes</h2>
<ul class="heroes">
    <!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. -->
    <!-- The parentheses around click tell Angular to listen for the <li> element's click event. When the user clicks in the <li>, Angular executes the onSelect(hero) expression. -->
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<!-- Binding the HeroesComponent.selectedHero to the element's hero property -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>